@page "/ingredients/add"

<h3>Add Ingredient</h3>

<EditForm Model="@Ingredient" OnValidSubmit="@OnValidSumbit">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <label class="input-group-text">Name</label>
          </div>
          <InputText class="form-control" @bind-Value=Ingredient.Name />
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset" class="btn btn-danger" @onclick="@OnCancel">Cancel</button>
</EditForm>
