@page "/measurements"

<div class="title-row">
  <h3 class="title-heading">Measurements</h3>
  <button class="btn btn-outline-dark add-btn" @onclick="OnAddMeasurementClick">
      <span class="oi oi-plus" aria-hidden="true"></span> New
  </button>
</div>

@if (Measurements == null)
{
  <h3>Loading...</h3>
}
else
{
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <Virtualize Items="Measurements" Context="ingredient">
        <tr @onclick=@(_ => OnMeasurementClick(ingredient.MeasurementId))>
          <td>@ingredient.Name</td>
        </tr>
      </Virtualize>
    </tbody>
  </table>
}