@model IEnumerable<Ravenous.Models.DbModels.Recipe>

@{
    ViewData["Title"] = "Home";
    List<RecipeType> recipeTypes = ViewBag.RecipeTypes;
}

<h1>Recipes</h1>

<div class="btn-list mt-4">
    <a asp-controller="Recipes" asp-action="index" class="btn btn-outline-dark">All Recipes</a>
    @foreach(var type in recipeTypes) {
        <a asp-controller="Recipes" asp-action="index" asp-route-recipeType="@type.RecipeTypeId" class="btn btn-outline-dark">@type.Name</a>
    }
</div>
